<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Link to Bootstrap CSS -->
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <div style="padding: 3px;">
                    <a href="{% url 'logout' %}">
                        <button type="button" class="btn btn-outline-secondary">Logout</button>
                    </a>
                </div>

            {% else %}
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 offset-md-3 center-box">
                            <div class="card">
                                <div class="card-body">
                                    <h2 class="card-title text-center mb-4">Welcome</h2>
                                        <a href="{% url 'login' %}" class="btn btn-outline-secondary w-100">Login</a>
                                        <a href="{% url 'signup' %}" class="btn btn-outline-secondary w-100 mt-3">Sign Up</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
